/*body{
    background-image: url(/galery/lambo.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}*/

.naglowek{
    position: fixed;
    flex-direction: row;
    height: 40px;
    width: 100%;
    background-color:#a5a4a4;
    z-index: 1;
    top:0px;
    left: 0px;
}

.naglowekglowna{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 70%;
}

.naglowekgap{
    flex: 1;
}
.logo{
    height: 40px;
    width: 40px;
}
.logozdjecie{
    margin-top: -10px;
    height: 40px;
}
.linki{
    color: black;
    text-decoration: none;
}
.linki:hover{
    text-decoration: underline;
}

.glowna{
    position: relative;
    display: flex;
    gap: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.startowe{
    background-color: white;
    display: grid;
    gap: 20px;
    grid-template-columns: 400px 1fr;
    align-items: center;
}
.startowelogo{
    width: 85%;
    object-fit: contain;
}

.kwadrat{
    /*background-color: red;*/
    width: 22%;
    height: 22%;
    /*padding-bottom: 25%;*/
    transition: 1s;
    border: none;
}
.kwadrat:hover{
    width: 50%;
    height: 50%;
    opacity: 100%;
    /*padding-bottom: 50%;*/
}

.kwadratfoto{
    width: 100%;
    object-fit: cover;
}

.oferta{
    margin-left: 0px;
    margin-right: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    
}

.ofertazdjecie{
    flex: 1fr;
    width: 100%;
    object-fit: contain;
}
.button{
    flex: 5%;
    max-width: 20px;
    opacity: 30%;
}
button:hover{
    cursor: pointer;
    opacity: 70%;
}
.ofertapasek{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20%;
}

.miniaturabutton{
    height: 30px;
    width: 30px;
}
.miniaturabutton:hover .tooltip{opacity: 1;}

.tooltip{
    font-size:smaller;
    opacity: 0;
}

.miniaturazdjecie{
    margin-left: -5px;
    height: 100%;
    object-fit: contain;
}

.onas{
    background-color: white;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

.zdjeciaonas{
    width: 100%;
    object-fit: contain;
}

.tlo{
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: -8px;
    background-color: #a5a4a4;
}

.socialmediaimage{
    height: 30px;
}

.gapstart{
    margin-top: -150px;
    padding-top: 70px;
}
.gap{
    height: 10px;
}
.gap2{
    margin-top: 70px;
}
.end{
    height: 100px;
}

.lightbox{
    z-index: 2;
    background-color: rgb(1,1,1,0.8);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    display: none;
}
.powiekszonefoto{
    width: 90%;
    height: 90%;
    object-fit: contain;
}